<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <center><h2>upload files</h2></center>
    <div class="container">
        <div class="btn-group btn-group-justified">

            <a href="{{url_for('home3')}}"  class="btn btn-danger">home</a>
            <a href="{{url_for('bform')}}" class="btn btn-danger">upload</a>
            <a href="{{url_for('booklist')}}" class="btn btn-danger">book details</a>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>